h1,h4{
    background-color: aliceblue;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin:5%;

}
div{

    margin:5%
}

div table{
    margin:1% 20%;
    border: 2px solid #000 ;
    text-align: center;
    width:70%;

}

div th,td{
    border: 2px solid #000;
    


}
